{% extends "base.html" %}
{% block content %}
<h1>Cadastrar Produto</h1>
<form method="post" class="form-box">
    <label>Nome do Produto:</label>
    <input type="text" name="nome" required>

    <label>Preço (R$):</label>
    <input type="number" step="0.01" name="preco" required>

    <label>Quantidade em estoque:</label>
    <input type="number" name="quantidade" min="0" required>

    <label>Categoria:</label>
    <select name="categoria" id="categoriaSelect" required onchange="mostrarSubcategoria()">
        <option value="">Selecione</option>
        <option value="Vestuário">Vestuário</option>
        <option value="Tecnologia">Tecnologia</option>
        <option value="Alimentos">Alimentos</option>
    </select>

    <div id="divSubcategoria" style="display:none;">
        <label>Subcategoria:</label>
        <select name="subcategoria" id="subcategoriaSelect">
            <option value="">Selecione</option>
        </select>
    </div>

    <label>Tamanho:</label>
    <input type="text" name="tamanho" placeholder="Ex: 38 ou M ou G" required>

    <label>Data de chegada:</label>
    <input type="date" name="data_chegada" required>

    <button type="submit">Cadastrar</button>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script>
function mostrarSubcategoria() {
    var categoria = document.getElementById("categoriaSelect").value;
    var div = document.getElementById("divSubcategoria");
    var subcategoria = document.getElementById("subcategoriaSelect");
    subcategoria.innerHTML = '';  // Limpa opções

    if (categoria !== "") {
        div.style.display = "block";

        if (categoria === 'Vestuário') {
            subcategoria.innerHTML += '<option value="Camisa">Camisa</option>';
            subcategoria.innerHTML += '<option value="Calça">Calça</option>';
            subcategoria.innerHTML += '<option value="Tênis">Tênis</option>';
        } else if (categoria === 'Tecnologia') {
            subcategoria.innerHTML += '<option value="Celular">Celular</option>';
            subcategoria.innerHTML += '<option value="Notebook">Notebook</option>';
            subcategoria.innerHTML += '<option value="Fone">Fone</option>';
        } else if (categoria === 'Alimentos') {
            subcategoria.innerHTML += '<option value="Bebida">Bebida</option>';
            subcategoria.innerHTML += '<option value="Salgado">Salgado</option>';
            subcategoria.innerHTML += '<option value="Doce">Doce</option>';
        }
    } else {
        div.style.display = "none";
    }
}
</script>
{% endblock %}
