{% extends 'base.html' %}

{% block content %}
    <h2>Bem-vindo ao Sistema de Previsão de Vendas com IA</h2>
    <p>Este sistema utiliza algoritmos de Machine Learning para prever a demanda futura dos seus produtos, auxiliando na gestão de estoque e tomada de decisões estratégicas.</p>
    
    <div class="botoes-auxiliares">
        <a href="{{ url_for('main.previsao') }}" class="botao">Ver Previsão</a>
        <a href="{{ url_for('main.registrar_venda') }}" class="botao">Registrar Venda</a>
        <a href="{{ url_for('main.cadastrar_produto') }}" class="botao">Cadastrar Produto</a>
    </div>
{% endblock %}
